/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 24/07/2023, 05:45:07 PM
    Author     : pcgc7
*/

/* Encabezado */
header .iconHeader { font-size: 2em; }
header p { font-size: 1em; }
header .mr-3 { margin-right: 1em!important; }
header .py-4 { padding-top: 1.5em !important; padding-bottom: 1.5em !important; }

/* Menu de navegación */
header .nav .nav-item .nav-link { font-size: 1.25rem !important; }
header .nav .nav-item .nav-link .iconNav { font-size: 1.5rem !important; }
.navbar-toggler { font-size: 2.25em !important; }
header h3 { font-size: 1.75em!important; }
.ml-5 { margin-left: 3em! important; }   

/* Titulo */
.titulo { font-family: 'Bree Serif', serif; font-weight: 400; font-style: normal; }
.display-4 { font-size: 3.5em!important; }
.my-4 { margin-top: 1em!important; margin-bottom: 1em!important; }

/* Carrusel de imágemes */
.carousel-indicators { bottom: 4%!important; } 
.control-prev, .control-next { font-size: 3rem; color: #fff; }
.fondoCaption { right: 0.5%; bottom: 2%; left: 0.5%; padding-top: 3em; padding-bottom: 3em; background-color: rgba(0,0,0,0.4);}

/* Sección de información de la empresa */
main p { font-size: 1.25rem; }
.icono { width: 15%!important; }
.iconos { width: 30%!important; }

/* Pie de página */
footer a, footer ul li, .copyright { font-size: 0.75em!important; }
.p-5 { padding: 3em!important; }
footer h5 { font-size: 1.25em!important; }

/****************************** Media queries ******************************/

@media screen and (min-width: 1424px) and (max-width: 1647.98px) {
    
    /* Encabezado */
    header .iconHeader { font-size: 1.65em; }
    header p { font-size: 1em; }
    .mr-3 { margin-right: 1em!important; }
    header .py-4 { padding-top: 1.5em !important; padding-bottom: 1.5em !important; }
    
    /* Menu de navegación */
    header .nav .nav-item .nav-link { font-size: 1.25em !important; }
    header .nav .nav-item .nav-link .iconNav { font-size: 1.5em !important; }
    header .py-3 { padding: 1rem !important; }    
    header h3 { font-size: 1.5em!important; }
    .navbar-toggler { font-size: 1.75em !important; }
    .ml-3 { margin-left: 1em! important; }
    header .p-4 { padding: 1em !important; }
               
    /* Titulo */
    .display-4 { font-size: 3.25em!important; }
    .my-4 { margin-top: 1em!important; margin-bottom: 1em!important; }
    
    /* Carrusel de imagenes */
    .h2 { font-size: 1.75em!important; }
    .h3 { font-size: 1.5em!important; }
    .mb-5 { margin-bottom: 2em!important; }
    .control-prev, .control-next { font-size: 2.75em; }
    .fondoCaption { right: 0.75%!important; left: 0.75%!important; bottom: 2%!important; padding-top: 2.5em!important; padding-bottom: 2.5em!important; }
    .carousel-indicators { bottom: 3%!important; }
        
    /* Footer */
    footer a, footer ul li, .copyright { font-size: 0.75em!important; }
    .p-5 { padding: 2.5em!important; }
    footer h5 { font-size: 1.25em!important; }           
}
      
@media screen and (min-width: 1200px) and (max-width: 1423.98px) {

    /* Encabezado */
    header .iconHeader { font-size: 1.5em; }
    header p { font-size: 0.75em; }
    .mr-3 { margin-right: 0.75em!important; }
    header .py-4 { padding-top: 1.25em !important; padding-bottom: 1.25em !important; }
    
    /* Menu de navegación */
    header .nav .nav-item .nav-link { font-size: 1em !important; }
    header .nav .nav-item .nav-link .iconNav { font-size: 1.5em !important; }
    header .py-3 { padding: 0.75rem !important; }            
    header h3 { font-size: 1.25em!important; }
    .navbar-toggler { font-size: 1.5em !important; }
    .ml-3 { margin-left: 1em! important; }
    header .p-4 { padding: 1em !important; }
                
    /* Titulo */
    .display-4 { font-size: 3em!important; }
    .my-4 { margin-top: 1em!important; margin-bottom: 1em!important; }
    
    /* Carrusel de imagenes */
    .h2 { font-size: 1.5em!important; }
    .h3 { font-size: 1.25em!important; }
    .mb-5 { margin-bottom: 1.5em!important; }
    .control-prev, .control-next { font-size: 2.5em; }
    .fondoCaption { right: 0.75%!important; left: 0.75%!important; bottom: 2%!important; padding-top: 2em!important; padding-bottom: 2em!important; }
    .carousel-indicators { bottom: 2%!important; }
    
    .py-5 { padding-top: 2.5em!important; padding-bottom: 2.5em!important; }
    .w-75 { width: 65% !important; }
    
    /* Noticias */
    .card-deck .card { margin-left: 0.5em!important; margin-right: 0.5em!important; }
    .card-body { padding: 1em!important; }    
    
    /* Footer */
    footer a, footer ul li, .copyright { font-size: 0.75em!important; }
    .p-5 { padding: 2em!important; }
    footer h5 { font-size: 1.25em!important; }
}

@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    
    /* Encabezado */
    header .iconHeader { font-size: 1.5em; }
    header p { font-size: 0.75em; }
    .mr-3 { margin-right: 0.75em!important; }
    header .py-4 { padding-top: 1.25em !important; padding-bottom: 1.25em !important; }
                   
    /* Menu de navegación */
    header .nav .nav-item .nav-link { font-size: 0.75em !important; }
    header .nav .nav-item .nav-link .iconNav { font-size: 1.5em !important; }
    header .py-3 { padding: 0.75rem !important; }                     
    header h3 { font-size: 1em!important; }
    .navbar-toggler { font-size: 1.25em !important; }
    .ml-3 { margin-left: 1em! important; }
    header .p-4 { padding: 0.75em !important; }
            
    /* Titulo */
    .display-4 { font-size: 2.75em!important; }
    .my-4 { margin-top: 1em!important; margin-bottom: 1em!important; }
    
    /* Carrusel de imagenes */
    .h2 { font-size: 1.25em!important; }
    .h3 { font-size: 1em!important; }
    .mb-5 { margin-bottom: 1.5em!important; }
    .control-prev, .control-next { font-size: 2.5em; }
    .fondoCaption { right: 1%!important; left: 1%!important; bottom: 3%!important; padding-top: 1.5em!important; padding-bottom: 1.5em!important; }
    .carousel-indicators { bottom: 0%!important; } 
    
    main p { font-size: 1em; }
    .icono { width: 20%!important; }
    .iconos { width: 40%!important; }
    .btn-lg { font-size: 1em!important; }    
    .py-5 { padding-top: 2em!important; padding-bottom: 2em!important; }
    .w-75 { width: 60% !important; }
    
    /* Noticias */
    .card-deck .card { margin-left: 0.25em!important; margin-right: 0.25em!important; }
    .card-body { padding: 0.75em!important; }    
    .card-body h5 { font-size: 1em!important; }
    .card-body .btn { font-size: 0.75em!important; }
    
    /* Footer */
    footer a, footer ul li, .copyright { font-size: 0.75em!important; }
    .p-5 { padding: 1.5em!important; }
    footer h5 { font-size: 1.15em!important; }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
    
    /* Encabezado */
    header .iconHeader { font-size: 1.25em; }
    header p { font-size: 0.75em; }
    .mr-3 { margin-right: 0.75em!important; }
    header .py-4 { padding-top: 1em !important; padding-bottom: 1em !important; }            
                
    /* Menu de navegación */
    header .nav .nav-item .nav-link { font-size: 0.75em !important; }
    header .nav .nav-item .nav-link .iconNav { font-size: 1.25em !important; }
    header .py-3 { padding: 0.5em !important; }              
    header h3 { font-size: 1em!important; }
    .navbar-toggler { font-size: 1em !important; }
    .ml-3 { margin-left: 1em! important; }
    header .p-4 { padding: 0.75em !important; }
        
    /* Titulo */
    .display-4 { font-size: 2.5em!important; }
    .my-4 { margin-top: 0.75em!important; margin-bottom: 0.75em!important; }
    
    /* Carrusel de imagenes */
    .h2 { font-size: 1em!important; }
    .h3 { font-size: 0.75em!important; }
    .mb-5 { margin-bottom: 1.5em!important; }
    .control-prev, .control-next { font-size: 2.25em; }
    .fondoCaption { right: 1.5%!important; left: 1.5%!important; bottom: 3%!important; padding-top: 1.25em!important; padding-bottom: 1.25em!important; }
    .carousel-indicators { bottom: -2%!important; } 
    
    main p { font-size: 1em; }
    .icono { width: 20%!important; }
    .iconos { width: 40%!important; }
    .btn-lg { font-size: 1em!important; }    
    .py-5 { padding-top: 1.5em!important; padding-bottom: 1.5em!important; }
    .w-75 { width: 60% !important; }
    
    /* Noticias */
    .card-deck .card { margin-left: 0.125em!important; margin-right: 0.125em!important; }
    .card-body { padding: 0.75em!important; }    
    .card-body h5 { font-size: 1em!important; }
    .card-body .btn { font-size: 0.75em!important; }
    
    /* Footer */
    footer a, footer ul li, .copyright { font-size: 0.65em!important; }
    .p-5 { padding: 1.5em!important; }
    footer h5 { font-size: 1em!important; }
}

@media screen and (min-width: 576px) and (max-width: 767.98px) {

    /* Encabezado */
    header .iconHeader { font-size: 1em; }
    header p { font-size: 0.5em; }
    .mr-3 { margin-right: 0.5em!important; }
    header .py-4 { padding-top: 0.75em !important; padding-bottom: 0.75em !important; }
                                    
    /* Menu de navegación */    
    header .nav .nav-item .nav-link { font-size: 0.75em !important; padding: 0.75em !important; }
    header .nav .nav-item .nav-link .iconNav { font-size: 1em !important; }    
    header h3 { font-size: 0.75em!important; }
    .navbar-toggler { font-size: 0.75em !important; }
    .ml-3 { margin-left: 0.75em! important; }
    header .p-4 { padding: 0.75em !important; }
                    
    /* Titulo */
    .display-4 { font-size: 2.25em!important; }
    .my-4 { margin-top: 0.75em!important; margin-bottom: 0.75em!important; }
    
    /* Carrusel de imagenes */
    .h2 { font-size: 0.75em!important; }
    .h3 { font-size: 0.5em!important; }
    .mb-5 { margin-bottom: 1em!important; }
    .control-prev, .control-next { font-size: 2em; }
    .fondoCaption { right: 1.5%!important; left: 1.5%!important; bottom: 4%!important; padding-top: 1em!important; padding-bottom: 1em!important; }
    .carousel-indicators { bottom: -4%!important; }  
    
    main p { font-size: 0.9em; }
    .icono { width: 10%!important; }
    .iconos { width: 30%!important; }
    .btn-lg { font-size: 1em!important; }    
    .py-5 { padding-top: 1em!important; padding-bottom: 1em!important; }
    .w-75 { width: 60% !important; }
    
    /* Noticias */
    .card-deck .card { margin-left: 0.125em!important; margin-right: 0.125em!important; }
    .card-deck .card { flex: 1 0 45% !important; }
    .card-body { padding: 0.5em!important; }    
    .card-body h5 { font-size: 1em!important; }
    .card-body .btn { font-size: 0.75em!important; }
    .card-text { font-size: 0.75em !important; }
     
    /* Footer */
    footer a, footer ul li, .copyright { font-size: 0.65em!important; } 
    footer h5 { font-size: 1em!important; }
    .p-5 { padding: 1.5em!important; }
    footer .col-6 { padding-top: 1em!important; } 
}

@media screen and (max-width: 575.98px) {
    
    /* Encabezado */
    header .iconHeader { font-size: 1em; }
    header p { font-size: 0.5em; }
    header .mr-3 { margin-right: 0.5em!important; }
    header .py-4 { padding-top: 0.75em !important; padding-bottom: 0.75em !important; }
    
    /* Menu de navegación */    
    header .nav .nav-item .nav-link { font-size: 0.75em !important; padding: 0.75em !important; }
    header .nav .nav-item .nav-link .iconNav { font-size: 1em !important; }    
    header h3 { font-size: 0.75em!important; }
    .navbar-toggler { font-size: 0.75em !important; }
    .ml-3 { margin-left: 0.75em! important; }              
    .menu { display: flex; flex-direction: column; justify-content: flex-start ; }
    .nav-fill .nav-item, .nav-fill>.nav-link { text-align: left; }
    
    /* Titulo */  
    .display-4 { font-size: 1.75em!important; }
    main .my-4 { margin-top: 0.75em!important; margin-bottom: 0.75em!important; }
    
    /* Carrusel de imagenes */
    .h2 { font-size: 0.75em!important; }
    .h3 { font-size: 0.5em!important; }
    .mb-5 { margin-bottom: 1em!important; }
    .control-prev, .control-next { font-size: 2em; }
    .fondoCaption { right: 1.5%!important; left: 1.5%!important; bottom: 4%!important; padding-top: 1em!important; padding-bottom: 1em!important; }
    .carousel-indicators { bottom: -4%!important; }  
    
    main p { font-size: 0.75em; }
    .icono { width: 10%!important; }
    .iconos { width: 30%!important; }
    .btn-lg { font-size: 1em!important; }    
    .py-5 { padding-top: 1em!important; padding-bottom: 1em!important; }
    .w-75 { width: 60% !important; }
    
    /* Noticias */
    .card-deck .card { margin-left: 0.125em!important; margin-right: 0.125em!important; }
    .card-deck .card { flex: 1 0 45% !important; }
    .card-body { padding: 0.5em!important; }    
    .card-body h5 { font-size: 1em!important; }
    .card-body .btn { font-size: 0.75em!important; }  
    .card-text { font-size: 0.75em !important; }
    
    /* Footer */
    footer a, footer ul li, .copyright { font-size: 0.65em!important; }     
    footer h5 { font-size: 0.75em!important; }
    .p-5 { padding: 1.5em!important; }
    footer .col-6 { padding-top: 1em!important; } 
}